{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('build/index.js') }}"></script>
{% endblock %}